header {
  background-color: #8994b9;
  padding: 10px 0;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

body {
  margin: 0;
  padding-top: 60px;
}

img {
    width: 800px;
      height: 300px;
}
