header {
  background-color: #8994b9;
  padding: 10px 0;
  text-align: center;
  position: fixed;
  /* робить меню завжди зверху */
  top: 0;
  /* приклеює до верхнього краю */
  left: 0;
  width: 100%;
  /* розтягує на всю ширину */
  z-index: 1000;
  /* щоб не ховалося під картинками/картками */
}

/* щоб контент не "залазив" під меню */
body {
  margin: 0;
  padding-top: 60px;
  /* відступ для шапки (60px = висота меню) */
}